
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  min-height: 100%;

  font-size: 22px;
  line-height: 26px;
  color: #333333; /*цвет текста*/
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

}

.blue-button{
  color: #ffffff;
  background-color: #82B3D3;
}

.brown-button{
  color: #ffffff;
  background-color: #756157;
}

.newsletter-button{
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3
}


/* Pages */
.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto; /*ставим блок по центру*/
}

.navigation-logo{
  max-height: 70px;
  max-width: 140px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 360px;
  margin-left: auto;
  margin-right: 70px;
  justify-content:end;

}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
  padding-top: 52px;
}

.logo-container{
  display: flex;
  background-image: url("../images/main/sedona-landscapes.jpg");
  background-size: auto;
  background-repeat: no-repeat;
}

.main-container {
  flex-grow: 1;
}

.main-home-page {
  color: #333333;
  background-color:  #ffffff;

}

.main-inner {
  padding-top: 40px;
  color: #242424;
  background-color: #fbf7f4;
}

/* Titles about Sedona */
.advantages{
  font-style: normal;
  text-align: center;

}

.title-container{
  display: flex;
  justify-content: center;
  margin: 69px;
}
.advantages-title {
  display: flex;
  justify-content: center;
  align-self:flex-start;
  margin-bottom: 25px;
  padding: 0;
  color: #000000;
  text-align: center;
  width: 620px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;

}

.advantages-lil-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 651px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: no-uppercase;
}

/* Index columns */
.reasons-for-coolness{
  color: #ffffff;
  background-color: #82B3D3;
  font-style: normal;
  margin: 0;
  padding: 0;
  }


.reasons-for-coolness-list{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  list-style-type: none;

}

/* Item */
.reasons-for-coolness-item {
  display: flex;
  flex-direction: column;
  padding: 103px 85px;
  margin: 0;
  width: 400px;
  align-items: center;
  justify-content: center;

}

.reasons-for-coolness-item-pic {
  width: 800px;
}

.reasons-for-coolness-title{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  margin: 0;
  align-items:flex-start;
  justify-content:center;
  padding: 0 0 30px 0;
  width: 175px;
}

.reasons-for-coolness-description{
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  align-self: stretch;
  text-align: center;
  display: flex;
  margin: 0;
  align-items:flex-end;
  justify-content:center;
  padding: 30px 0 0 0;
  width: 230px;

}

.middle-row{
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  background-image: url("../images/main/background-pictures/background.svg");
  display: flex;
  justify-content: space-between;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.bottom-row{
  display: flex;
  justify-content: space-between;

}


.reasons-for-coolness-item{
  text-align: center;
}


/* Servise Title */
.service-tit-container{
  display: flex;
  justify-content: center;
  margin: 64px;

}

.servicing{
  text-align: center;
  font-style: normal;
}

.servicing-title{
  display: flex;
  justify-content: center;
  align-self:flex-start;
  margin: 0;
  padding-bottom: 20px;
  color: #000000;
  text-align: center;
  width: 505px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}

.servicing-lil-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 490px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: no-uppercase;
}

.service-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  align-self: stretch;
  background-image: url("../images/main/background-pictures/backgroung-deep.svg");
}


/* Item */
.service-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 80px 85px;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.service-title{
  display: flex;
  margin: 0;
  padding: 30px;
  color:#000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

}

.service-description{
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color:#000000;
}

/* Hotel Title */
.hotel-search-container{
  display: flex;
  justify-content: center;
  padding: 96px 304px;
  flex-wrap: wrap;
  align-content:center;
  width: 592px;
}

.hotel-search{
  text-align: center;
  font-style: normal;
}

.hotel-title{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 20px 0;
  align-self:flex-start;
  text-align: center;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-lil-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: no-uppercase;
  text-align: center;
}



/*Footer*/
.page-footer a {
  color: #000000;
}

.page-footer{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 0 0;
}


.footer-container-for-centering{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  flex-wrap: wrap;
  width: 1060px;
}



.footer-contacts{
  display: flex;
  font-family: PT Sans;
  font-size: 40px;
  text-transform: uppercase;
}

.contacts-phone-number{
  display: flex;
  margin: 0;
}

.logo-end {
  width: 114.9px;
  justify-content:flex-end
}


.email-container{
  display: flex;
  margin: 0 0 104px 0;
  justify-content: center;
  padding: 96px 258px 104px 258px;
  flex-wrap: wrap;
  align-content:center;
  width: 684px;

}

.email-newsletter{
  color: #000000;
  background-color: #ffffff;
  background-size: auto auto;
  background-repeat: no-repeat;
  text-align: center;
  font-style: normal;
}

.first-page{
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/footer/blurred-landscape.jpg");
  background-repeat:no-repeat;
  background-size: 100% 100%;
  margin: 0;
}

.email-title{
  display: flex;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.email-lil-title{
  display: flex;
  margin: 0 0 54px 0;
  padding: 0;

}
.page-footer{
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none
}

.contacts-phone{
  font-style: normal;
  text-align: center;
}

.contacts-phone-number{
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none
}

.inner-header-title {

  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
}


.catalog-hotels-filter{
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/main/landscapes-blurred-spage.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-style: normal;


}

.catalog-sort-title{
  display: flex;
  flex-direction:row;
  margin-bottom: 40px;

}


.hotel-card .button{
  width: 140px;
  height: 36px;
}

.hotel-card-title{
  display: flex;
  flex-direction: column;
}

.catalog-sort-title .button {
  width: 48px;
  height: 48px;
}

.hotel-found{
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.hotel-list{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.hotel-card{
  display:flex;
  flex-direction: column;
  margin-right: 70px;
  padding: 20px;
}

.hotel-card-title{
  display:flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.hotel-card-type{
  display:flex;
  padding: 0;
  margin: 0;
}

.hotel-card-price{
  display:flex;
  padding: 0;
  margin: 0;
}

.hotel-rating{
  display:flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.rating-stars{
  display:flex;
  padding: 0;
  margin: 0;
}

.rating{
  display:flex;
  padding: 0;
  margin: 0;
}


.footer-social-list{
  margin-right: auto;
  max-width: 144px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.footer-social-item {
  width: 48px;
  height: 40px;
  margin-right: 8px;
  margin-bottom: 8px;
}



/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}


/* Link */
.breadcrumbs-link {
  margin-right: 16px;
  color: inherit;
}

.catalog-hotels {
  display: flex;
  justify-content:center;

}

.catalog-filter {
  padding: 40px 0 0 0;
  width: 1060px;
  display: flex;
  margin: 0;

}

.infr{
  justify-content:start;
  margin-right: 70px;
  width: 151px;
}

.type-hotel{
  margin-right: 160px;
  width: 151px;

}

.catalog-column {
  padding: 60px 70px;
  width: 1060px;

}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-list{
  list-style-type: none;

}

/* Label */
.control{
  font-weight: 400;
}

/*Сортировка*/
.select-control{
  color: #000000;
  background-color: #ffffff;
  display: flex;
}

/* Card-item */
.hotel-card{
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.hotel-choosing{
  justify-content:end;
}

.hotel-choosing-up{
  align-self:flex-start;
  margin-bottom: 32px;

}

.button-searching{
  display: flex;
  flex-direction: column;
}

.footer-social-item{
  margin-right: 195px;
  max-width: 214px;
  justify-content:flex-start
}

/* Link */
.hotel-card-link {
  text-decoration: none;
}

/* Title */
.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

/* Price */
.hotel-card-price {
  text-align: right
}


/* Link */
.pagination {
  background-color: #ffffff;
}

.pagination-container {
  display: flex;
  padding-top: 80px;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

/*.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}*/

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  margin: 0;
  padding: 14px 20px;
}



.pagination-current{
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next{
  color: #000000;
  background-color: #ffffff;
}

/*картинка на главной странице
номер телефона по центру
вторая страница*/
